header.header
  nav
    .container
      .nav-wrapper
        a.brand-logo(href='/') Парсер Вконтакте
        ul(id="nav-mobile").right
          li
            a(href='/friends') Друзья
          li
            a(href='/fans') Подписчики