extends ../layouts/main

block content
  h4.center-align Добро пожаловать на сайт парсера друзей и подписчиков пользователя Вконтакте
  p.center-align На страницах друзья и подписчки вы можете получить информацию о друзьях и подписчиков пользователя

